<div class="modal" id="comment-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                Create/Edit Comment
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="comment-form-area">

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>